*{
    margin: 0;
    padding: 0;
    text-align: center;
}

table{
    border: 5px, solid, black;
    border-collapse: collapse;
    width: 500px;
    height: 500px;
}
td{
    border: 5px, solid, black;
    border-collapse: collapse;
    width: 25px;
    height: 25px;    
}