*{
    margin: 0;
    padding: 0;
    text-align: center;
}

table{
    border: 5px, solid, black;
    border-collapse: collapse;
    width: 400px;
    height: 400px;
}
td{
    border: 5px, solid, black;
    border-collapse: collapse;
    width: 20px;
    height: 20px;    
}