*{
    margin: 0;
    padding: 0;
    text-align: center;
}
p{
    position: relative;
    top: 40%;
}
.lorem{
    margin-top: 5px;
}

header{
    background-color: teal;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-bottom: 5px;
}

nav{
    background-color: red;
    padding-top: 10px;
    width: 80%;
    height: 30px;
    margin: auto;
    margin-bottom: 2px;
}
li{
    display: inline-block;
    width: 30%;
}

#section1, #section2{
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
}

#section1{
    background-color: lightgreen;
}
#section1 > aside{
    background-color: gray;
    display: inline-block;
    margin-top: 40px;
    margin-right: 10%;
    width: 40%;
    height: 250px;
}
#section1 > article{
    background-color: gray;
    display: inline-block;
    width: 45%;
    height: 250px;
}

#section2{
    background-color: goldenrod;
}
#section2 > article{
    background-color: gray;
    display: inline-block;
    position: absolute;
    left: 30px;
    margin-top: 40px;
    margin-right: 15px;
    width: 30%;
    height: 300px;
}
#section2 > #container1{
    display: inline-block;
    position: absolute;
    right: 10px;
    margin-top: 40px;
    width: 60%;
    height: 300px;
}

#container1 > aside{
    background-color: teal;
    display: inline-block;
}

#asideImg{
    width: 100%;
    height: 100px;
}
#asideImgClick{
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 40%;
    height: 190px;
}
#container2{
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 60%;
    height: 190px;
}

#container2 > article{
    background-color: grey;
    position: absolute;
    margin-left: 5%;
    top: 0;
    width: 90%;
    height: 120px;
}
#container2 > footer{
    background-color: red;
    position: absolute;
    margin-left: 7%;
    bottom: 0;
    width: 86%;
    height: 60px;
}

/* idem section 2 mais avec GRID */
#section3{
    background-color: lightcoral;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 15px;
    width: 96%;
    height: 350px;
    margin-bottom: 10px;
    padding: 2%;
}
#section3 > article{
    border: 2px, solid, black;
}
#section3 > #art1{
    background-color: gray;
    /* margin: 10% 2% 5% 5%; */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 13;
}
#section3 > #art2{
    background-color: teal;
    /* margin: 5% 2% 0% 0%; */
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 6;
}
#section3 > #art3{
    background-color: teal;
    /* margin: 1%  1%  5%  1%; */
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 13;
}
#section3 > #art4{
    background-color: gray;
    /* margin: 1%  5%  0%  1%; */
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 10;
}
#section3 > #art5{
    background-color: red;
    /* margin: 1%  6%  5%  2%; */
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 10;
    grid-row-end: 13;
}