*{
    margin:0;
    padding: 0;
}

#main{
    border: 5px, solid, pink;
    width: auto;
    height: 74vh;
    margin-bottom: 2vh;
}

#fond1{
    background-color: gray;
    position: absolute;
    top: 0;
    z-index: -2;
    height: 5vh;
    width: 100%;
}
#fond2{
    background-color: lightblue;
    position: absolute;
    top: 5vh;
    z-index: -2;
    height: 12vh;
    width: 100%;
}
#fond3{
    background-color: lightgray;
    position: absolute;
    top: 17vh;
    z-index: -2;
    height: 5vh;
    width: 100%;
}

#footer{
    background-color: gray;
    border: 5px, solid, turquoise;
    width: auto;
    height: 20vh;
}

.container{
    position: relative;
    top: 5%;
    margin: auto;
    width: 75vw;
}
#main .container{
    border: 5px, solid, red;
    height: 68vh;
}
#footer .container{
    border: 5px, solid, lightgreen;
    height: 15vh;
}

#header{
    border: 5px, solid, yellow;
    margin: auto;
    margin-top: 1vh;
    width: 68vw;
    height: 14vh;
}
#content{
    border: 5px, solid, green;
    display: inline-block;
    margin-top: 2vh;
    margin-left: 3vw;
    width: 60%;
    height: 45vh;
}
#sidebar{
    border: 5px, solid, orange;
    display: inline-block;
    width: 30%;
    height: 45vh;
}

#news{
    border: 5px, solid, blue;
    margin: auto;
    position: relative;
    top: 50%;
    width: 40vw;
    height: 20vh;
}

#sidebar div{
    border: 5px, solid, purple;
    margin: auto;
    margin-top: 1vh;
    width: 15vw;
    height: 9vh;
}
#sectionSidebar{
    background-color: lightgray;
    margin: 1vh;
    padding: 10px 10px;
}