*{
    margin:0;
    padding: 0;
}

#main{
    border: 5px, solid, pink;
    height: 74vh;
    margin-bottom: 2vh;
}

#fond1{
    background-color: gray;
    position: absolute;
    top: 0;
    z-index: -2;
    height: 5vh;
    width: 99%;
}
#fond2{
    background-color: lightblue;
    position: absolute;
    top: 5vh;
    z-index: -2;
    height: 12vh;
    width: 99%;
}
#fond3{
    background-color: lightgray;
    position: absolute;
    top: 17vh;
    z-index: -2;
    height: 5vh;
    width: 99%;
}

#footer{
    background-color: gray;
    border: 5px, solid, turquoise;
    height: 20vh;
}
#footer .container{
    border: 5px, solid, lightgreen;
    height: 12vh;
}

.container{
    position: relative;
    top: 5%;
    margin: auto;
    width: 75vw;
}
#main .container{
    border: 5px, solid, red;
    height: 68vh;
}


#header{
    border: 5px, solid, yellow;
    margin: 1vh 0vh;
    margin-inline: auto;
    width: 68vw;
    height: 14vh;
}
#content{
    border: 5px, solid, green;
    display: inline-block;
    position:absolute;
    margin-left: 3vw;
    width: 55%;
    height: 47vh;
}
#news{
    border: 5px, solid, blue;
    position: absolute;
    bottom: 1%;
    left: 3%;
    width: 90%;
    height: 20vh;
}

#sidebar{
    border: 5px, solid, orange;
    display: inline-block;
    position: absolute;
    left: 65%;
    width: 30%;
    height: 45vh;
}
#sidebar div{
    border: 5px, solid, purple;
    margin: auto;
    margin-top: 1vh;
    width: 15vw;
    height: 9vh;
}
#sectionSidebar{
    background-color: lightgray;
    margin: 1vh;
    padding: 10px 10px;
}

p{
    font-size: xx-small;
    margin-bottom: -1%;
}