*{
    margin: 0px;
    padding: 0px;
    border: 0;
    text-align: center;
}
p{
    position: relative;
    top: 45%;
    line-height: 100%;
}

header{
    background-color: lightcoral;
    height: 10vh;
}
nav{
    background-color: lightblue;
    position: absolute;
    top: 10vh;
    left: 0vw;
    width: 17vw;
    height: 90vh;
}
aside{
    background-color: lightblue;
    position: absolute;
    top: 10vh;
    right: 0vw;
    width: 17vw;
    height: 90vh;
}
footer{
    background-color: gold;
    position: absolute;
    top: 90vh;
    left: 17vw;
    width: 66vw;
    height: 10vh;
}

/* #containerDiv{
    background-color: white;
    position: absolute;
    top: 10vh;
    left: 17vw;
    width: 66vw;
    height: 80vh;
}
#containerDiv > div{
    background-color: lightgreen;
    display: inline-block;
    margin: 0px 2px 0px 2px;
    width: 12vw;
    height: 80vh;
} */

#containerDiv{
    background-color: white;
    display: flex;
    position: absolute;
    top: 10vh;
    left: 17vw;
    width: 66vw;
    height: 80vh;
    justify-content: center;
    align-items: stretch;
    gap: 2px;
}
#containerDiv > div{
    background-color: lightgreen;
    flex-grow: 1;
}