*{
    margin: 0px;
    padding: 0px;
    border: 0;
    font-size: 0;
}

header{
    background-color: red;
    height: 20vh;
    font-size: 20px;
}
nav{
    background-color: blue;
    display: inline-block;
    height: 80vh;
    width: 20%;
    font-size: 20px;
}
main{
    background-color: green;
    display: inline-block;
    height: 80vh;
    width: 80%;
    font-size: 20px;
    vertical-align: top;
}